.sidebar {
  width: 18%;
  position: fixed;
  height: 100%;
  left: 0;
  padding-top: 10px;
  background-color: white;
  z-index: 100%;

  hr {
    margin: 10px 0;
    background-color: #e5e5e5;
    border: none;
    height: 1px;
  }
}

.sidebar--dark {
  background-color: #202020;
}
