.header {
  width: 95%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  .header__left,
  .header__middle,
  .header__right {
    height: 100%;
    display: flex;
    align-items: center;

    svg:not(:first-child) {
      margin-left: 20px;
    }

    .logo__image {
      height: 25px;
      margin-left: 20px;
    }
  }
  .header__middle {
    width: 40%;
    input {
      padding: 8px;
      font-size: 1rem;
      flex: 1;
      border-radius: 2px 0 0 2px;
      border: 1px solid #989898;
    }
    .input--dark {
      background-color: #121212;
      color: #989898;
      border: 1px solid #303030;
    }

    .search__container {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #989898;
      border-radius: 0 3px 3px 0;
      border-left: none;
      padding: 5px 20px;
    }
    .search__container--dark {
      border: 1px solid #303030;
      background-color: #313131;
      border-left: none;
    }
  }
}
