.videoCard {
  max-width: 250px;
  margin-right: 15px;
  margin-bottom: 20px;
  flex: 1;

  .videoCard__thumbnail {
    width: 250px;
    height: 145px;

    &:hover {
      cursor: pointer;
    }
  }

  .videoCard__Info {
    display: flex;
    padding-top: 10px;

    .avatar {
      width: 40px !important;
      height: 40px;
      border-radius: 50%;
    }
    .videoCard__text {
      margin-left: 10px;
      h5 {
        padding-bottom: 5px;
        font-weight: 500;
        font-size: 1rem;
      }
      p {
        color: #606060;
        font-size: 0.9rem;
      }
    }
  }
}
